// Main hero
.hero-main {
    background-color: #191919;

    &--wrap {
        background-position: center;
        background-repeat: no-repeat;
        height: 700px;
        background-size: cover;
        border-radius: 20px;
    }
}

// Boxes jobs scroll animations
.counter-number {
    color: $yellow;

    &--box {
        position: relative;
        z-index: 0;
    }

    &--plus {
        &:after {
            content: "+";
            display: inline-block;
            font-size: 45px;
        }
    }

    &--icon {
        height: 85px !important;
        position: absolute;
        right: 50px;
        z-index: -1;
        opacity: .3;
    }
}

.counter-main-box {
    &--titles {
        font-size: 18px;
    }

    &__item {
        border: 1px solid rgba(255, 255, 255, .2);
        background: rgba(0, 0, 0, .3);
    }
}

// Swiper main products slider 
.main-products-slider {
    &__item {
        position: relative;
        border: 1px solid #eee;
        background: #fff;
        transition: .5s all;

        &:hover {
            border-color: $green;
        }

        &--title {
            font-size: 20px;
            letter-spacing: 2px;
        }

        &--subtitle {
            display: block;
            font-size: 17px;
            letter-spacing: 1px;
        }

        &--statictitle {
            position: absolute;
            top: 60px;
            width: 100%;
        }

        &--btn {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 0;
            opacity: 0;
            transform: translateX(-50%) translateY(-50%);
            transition: all 0.35s cubic-bezier(0, 0, 0.2, 1);
            width: 65%;
        }

        &:hover {
            &>span {
                opacity: 1;
            }
        }
    }
}


//Swiper arrows
.swiper-main-products {

    &__prev,
    &__next {
        width: 50px;
        height: 50px;
        border: 2px solid $green;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(45deg);
        background-color: white;
        cursor: pointer;
        margin: 30px 30px 0 30px;
        position: relative;
        z-index: 10;
        border-radius: 6px;

        &::after {
            font-size: 16px;
            color: $green;
            transform: rotate(-45deg);
        }
    }
}

@keyframes slideFadeDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.swiper-slide-active .slide-text {
    animation: slideFadeDown 0.8s ease-out forwards;
}

//News
.main-news {
    .swiper-slide {
        height: auto;

        &:nth-child(even) .main-news__item-cnt {
            background: #efefef;
        }
    }

    &__item-date {
        color: #999;
    }

    &__item-title-post {
        font-size: 18px;
    }

    &__item-cnt {
        background: $green;
    }
}

.swiper-main-news {

    &__prev,
    &__next {
        width: 50px;
        height: 50px;
        border: 2px solid #c5c5c5;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(45deg);
        cursor: pointer;
        margin: 30px 30px 0 30px;
        position: relative;
        z-index: 10;
        border-radius: 6px;

        &::after {
            font-size: 16px;
            color: #c5c5c5;
            transform: rotate(-45deg);
        }
    }
}