// ------------------------------------ //
// #Colors
// ------------------------------------ //

$green: #599f4f;
$green-light: #0dcc00;
$red-oryginal: #e3000f;

// Definiowanie nazw jako stringów
$names: (
    "green",
    "green-light",
    "red-oryginal",
);

// Mapowanie nazw na kolory
$colors: (
    "green": $green,
    "green-light": $green-light,
    "red-oryginal": $red-oryginal,
);

@each $name in $names {
    .bg-#{$name} {
        background-color: map-get($colors, $name);
    }

    .text-#{$name} {
        color: map-get($colors, $name);
    }

    .btn-#{$name} {
        @extend .btn;
        background: map-get($colors, $name);
        color: #fff !important;
        transition: all .5s;
        border: 1px solid $green !important;

        &:hover,
        &:focus {
            color: map-get($colors, $name) !important;
            background: #fff;
            border: 1px solid map-get($colors, $name);
        }
    }
}

//Custom Btn
.btn-style {
    position: relative;

    &--border {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: 1px solid $pink;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease;
    }

    &--border-white {
        border-color: white;
    }

    &--first {
        -webkit-transform: translate(-2px, -2px);
        -moz-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    &--second {
        -webkit-transform: translate(2px, 2px);
        -moz-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    &:hover .btn-style--first {
        -webkit-transform: translate(-3px, -3px);
        -moz-transform: translate(-3px, -3px);
        transform: translate(-3px, -3px)
    }

    &:hover .btn-style--second {
        -webkit-transform: translate(3px, 3px);
        -moz-transform: translate(3px, 3px);
        transform: translate(3px, 3px)
    }

    &--large {
        padding: 15px 56px;
    }

    &--small {
        font-size: 13px;
        padding: 14px 15px;
    }

    &--outline {
        color: $pink;
        background-color: transparent;
    }

    &--outline-white {
        color: white;
    }

}

@keyframes growOut {
    0% {
        transform: scale(0)
    }

    80% {
        transform: scale(1.1)
    }

    100% {
        transform: scale(1)
    }
}

.bg-green-mark {
    background: $green;
    box-shadow: 5px 0 0 $green, -5px 0 0 $pink;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    -webkit-box-decoration-break: split;
    box-decoration-break: split;
    display: inline;
}

// Btn custom
.btn-wrapper {
    &--green {
        background-color: green;
        padding: 7px 10px 5px 25px;
        line-height: 30px;
        color: #fff;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: green;
        border-radius: 50px 50px 50px 50px;
        display: inline-block;
        transition: all .4s ease;
        text-align: center;

        i {
            margin-left: 10px;
            font-size: 16px;
            background-color: #fff;
            border-radius: 50px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            display: inline-block;
            color: #000;
        }
    }
}